.popup_content {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3); 
    border-radius: 8px; 
    backdrop-filter: blur(10px); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 40px;
    border-radius: 8px;
    max-width: 800px;
    max-height: 550px;
    width: 90%;
    text-align: center;
    position: relative;
    overflow-y: scroll;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: white transparent; /* For Firefox */
  }
  
  /* WebKit Scrollbar Styles */
  .popup_content::-webkit-scrollbar {
    width: 8px; /* Scrollbar width */
  }
  
  .popup_content::-webkit-scrollbar-track {
    background: transparent; /* Transparent track */
  }
  
  .popup_content::-webkit-scrollbar-thumb {
    background-color: white; /* White thumb (indicator) */
    border-radius: 50px; /* Rounded for a dot-like appearance */
  }
  
  /* Optional: Add hover effect for the thumb */
  .popup_content::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.8); /* Slightly dimmed white */
  }
  
  .close_button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
  }

  .popup_content p{
    font-size: small;
  }

  .popup_content h3{
    padding: 1rem;
  }
