.portfolio_card {
  height: 22rem;
  width: 20rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  margin-top: 2rem;
  margin-bottom: 0;
  padding: 1.5rem;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.portfolio_card:hover {
  box-shadow: 0 0 15px 5px rgba(179, 41, 179, 0.699);
}

.portfolio_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10rem;
}

.portfolio {
  background-color: blue;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.portfolio_card h4 {
  text-align: center;
}

.portfolio_card h3 {
  text-align: left;
  font-size: 0.6rem;
  margin-bottom: 0.5rem;
  margin-top: -0.5rem;
}

.portfolio_card p {
  text-align: center;
  font-size: 0.8rem;
  color: var(--color-white);
  margin-top: 1rem;
}

.portfolio_card img {
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  height: 6.5rem;
}

.links {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.aw {
  display: flex;
  align-items: center;
}

.iconstyle {
  color: rgb(255, 217, 0);
  margin-top: -0.9rem;
  margin-right: 0.3rem;
}

@media screen and (max-width: 600px) {
  .section__title {
    text-align: center;
  }

  .portfolio {
    margin-left: 0;
    background-color: yellow;
  }

  .projects {
    grid-template-columns: 1fr;
  }

  .portfolio_card {
    margin-bottom: -1rem;
    width: 18rem;
  }

  .portfolio_tabs {
    margin-left: 2rem;
    padding: 0 2rem;
  }
}

/* @media screen and (max-width: 670px) {
  .section__title {
    margin-left: -7rem;
    text-align: center;
    margin-bottom: 0;
  }

  .portfolio_card {
    margin-bottom: -1rem;
    width: 16.5rem;
    font-size: smaller;
  }

  .projects {
    grid-template-columns: 1fr;
  }

  
} */

.portfolio_tabs {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-left: 10rem;
  margin-top: -0.3rem;
  margin-bottom: 2rem;
}

.tab_button {
  padding: 10px 16px;
  border: 1px solid rgba(255, 255, 255, 0.69);
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 500;
  color: #fff;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.tab_button:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
}

.tab_button.active {
  background-color: #333;
  color: #fff;
}
