.skills{
  padding-left: 15%;
}

.col {
    flex: 1;
    width: 30%;
}
  
.shape {  
  margin: 0.15rem;
  background-color: purple;
}

.skill_box{
  display: flex;
  flex-direction: row;
}
  
.shape-square {
  border-radius: 0.25rem;
  height: 1.2rem;
  width: 1.2rem;
}

.skill_table {
  border: 1rem;
  border-color: white;
  display: flex;
  flex-direction: row;
  padding-bottom: 2.5rem;
}

td{
  margin-left: 2rem;
  margin-right: 5rem;
}

/*===========FOR RESPONSIVENESS (SMALL DEVICES)==============*/

@media screen and (max-width: 600px) {
  .skill_table{
    margin-bottom: 1rem;
    padding-bottom: 0rem;
  }
  .skill_table table{
    margin-bottom: 1rem;
  }
  .skill_table td{
    width: 9rem;
    font-size: small;
  }
  .skill_table {
    display: flex;
    flex-direction: column;
  }
  .shape-square{  
    border-radius: 0.25rem;
    height: 1rem;
    width: 1rem;
  }
}

