@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.about__container {
    display: grid;
    grid-template-columns: 60% 35%;
    gap: 15%;
}

.fullname{
    margin-top: -1.5rem;
    margin-bottom: 1rem;
    font-size: 4rem;
    font-family: 'Anton', sans-serif;
}

.number {
    font-family: 'Anton', sans-serif;
    font-size: 4rem;
}

.number__description {
    font-size: 2rem; 
}
.section__title {
    margin-top: 4rem;
    font-size: 2rem;
    text-align: left;
    margin-left: 10.2rem;
    color: #d4a4ff;
}

.about__style {
    margin-left: 10.2rem;
    margin-bottom: 2rem;
    
}

.about__style h4{
  font-weight: bold;
}

.cardset {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-left: 10.2rem;
    
}
@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  :root {
    --card-height: 30vh;
    --card-width: 30vh;
  }

  .card {
    background: #191c29;
    width: var(--card-width);
    height: var(--card-height);
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.3em;
    
    flex-direction: column;
    
  }
  
  .card:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 2s;
  }
  .card:hover:before, .card:hover:after {
    animation: none;
    opacity: 0;
  }
  
  
  .card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
, #d4a4ff, #a36eff 43%, #6e00c2);

      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
  }
  
  .card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
, #d4a4ff, #a36eff 43%, #6e00c2);

      opacity: 1;
    
    animation: spin 2.5s linear infinite;
  }
  
  .educard li{
    background-color: rgba(255, 255, 255, 0.203);
    padding: 0.8rem;
    border-radius: 0.5rem;
    width: fit-content;
    font-size: small;
    margin-bottom: -0.8rem;
  }

  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }

  /*===========FOR RESPONSIVENESS (SMALL DEVICES)==============*/

@media  screen and (max-width: 700px){
  .fullname{
    margin-top: -1.5rem;
    margin-bottom: 1rem;
    font-size: 4rem;
    margin-left: 1rem;
}

.number {
    font-family: 'Anton', sans-serif;
    font-size: 4rem;
}

.number__description {
    font-size: 1rem; 
    width: 50rem;
}
.section__title {
    margin-top: 4rem;
    font-size: 2rem;
    text-align: left;
    margin-left: 35%;
    color: #d4a4ff;
}

.about__style {
    margin-left: 60%;
    margin-bottom: 2rem;
    width: 40rem;
}

.about__style h4{
  font-weight: bold;
}

.cardset {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-left: 60%;
    width: 35rem;
    
}
}