@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.section__title {
  margin-top: 4rem;
  font-size: 2rem;
  text-align: left;
  margin-left: 10.2rem;
  color: #929292;
}

.about h2{
  margin-top: 0rem;
}

.about{
  margin-left: 6rem;
  margin-top: -4rem;
  width: 110%;
  
}
.about__container {
    display: grid;
    grid-template-columns: 60% 35%;
    gap: 15%;
    
}

.photo {
  display: none;
}

.fullname{
    margin-top: -1.5rem;
    margin-bottom: 1rem;
    font-size: 4rem;
    font-family: 'Anton', sans-serif;
}

.number {
    font-family: 'Anton', sans-serif;
    font-size: 4rem;
    color: white;
}

.number h2{
  margin-top: 10rem;
}

.number__description {
  margin-top: 3rem;
    font-size: 2rem;
    color: white; 
}


.about__style {
    margin-left: 10.2rem;
    margin-bottom: 2rem;
    width: 40rem;
}

.about__style h4{
  font-weight: bold;
}

.educard li {
  background-color: rgba(255, 255, 255, 0.2); /* White with transparency for the glass effect */
  backdrop-filter: blur(10px); /* Blur effect */
  padding: 0.8rem;
  border-radius: 0.5rem;
  width: fit-content;
  font-size: small;
  margin-bottom: -0.8rem;
  border: 1px solid rgba(255, 255, 255, 0.3); /* Optional: Light border for more glass-like appearance */
}

.volunteering{
  margin-top: 2rem;
  
}

.voluncard{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 50rem;
  
}

.voluncard p {
  background-color: rgba(255, 255, 255, 0.2); /* White with transparency for the glass effect */
  backdrop-filter: blur(10px); /* Blur effect */
  padding: 0.8rem;
  border-radius: 0.5rem;
  width: fit-content;
  height: min-content;
  font-size: small;
  margin-bottom: -0.8rem;
  border: 1px solid rgba(255, 255, 255, 0.3); /* Optional: Light border for more glass-like appearance */
}

.cardd {
  width: 9rem;
  padding: 0.5rem; /* Adjust padding as needed */
  background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Light border for glass effect */
  border-radius: 8px; /* Rounded corners for smoothness */
  backdrop-filter: blur(10px); /* Adds the glassy blur effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: adds depth */
  text-align: center;
}

.cardsett{
  display: flex;
  margin-left: 10rem;
  gap: 1.5rem;
}

