@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.section__title {
  margin-top: 4rem;
  font-size: 2rem;
  text-align: left;
  margin-left: 10.2rem;
  color: #929292;
}

.about h2{
  margin-top: 0rem;
}

.about{
  margin-left: 6rem;
  margin-top: -4rem;
}
.about__container {
    display: grid;
    grid-template-columns: 60% 35%;
    gap: 15%;
}

.photo {
  display: none;
}

.fullname{
    margin-top: -1.5rem;
    margin-bottom: 1rem;
    font-size: 4rem;
    font-family: 'Anton', sans-serif;
}

.number {
    font-family: 'Anton', sans-serif;
    font-size: 4rem;
    color: white;
}

.number h2{
  margin-top: 10rem;
}

.number__description {
  margin-top: 3rem;
    font-size: 2rem;
    color: white; 
}


.about__style {
    margin-left: 10.2rem;
    margin-bottom: 2rem;
    
}

.about__style h4{
  font-weight: bold;
}

.educard li{
  background-color: rgba(181, 181, 181, 0.281);
  padding: 0.8rem;
  border-radius: 0.5rem;
  width: fit-content;
  font-size: small;
  margin-bottom: -0.8rem;
}
