.pop {
    margin-top: -3rem;
    height: 5rem;
  }
  
  .image-popup {
    position: sticky;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Ensures it appears on top of other elements */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .image-popup img {
    width: 30px; /* Smaller width */
    height: 30px; /* Smaller height */
    object-fit: contain;
  }
  
  .image-popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: black;
    background: none;
    border: none;
    font-weight: bold;
  }
  