@media screen and (max-width: 920px) {
    .about{
        margin-top: -20rem;
        margin-left: -7.5rem;
        margin-bottom: 20rem;
    }
    .about__style{
        width: 18rem;
        font-size: small;
        
    }
    .fullname{
        font-size: 2rem;
    }

    .cardsett{
        gap: 0.5rem;
    }
    .number {
        font-size: 2.5rem;
        text-align: center;
        margin-top: 0;
        display: block;
    }

    .number__description {
        font-size: small;
        text-align: center;
    }

    .volun{
        margin-left: 18rem;
        justify-self: center;
        overflow-y: scroll;
    }

    .volunlogos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        justify-content: left;
      }
      

    .vlogos{
        width: 7rem;
    }

    .vlogos img{
        width: 5rem;
    }
    
}