.voluncard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
    border-radius: 10px;
    margin-bottom: 1em;
    margin-left: 10rem;
    height: 15rem;
    width: 40rem;
    backdrop-filter: blur(10px); /* Creates the glass effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Optional: light border */
}

.voluncard__content {
    flex: 1;
}

.voluncard__title {
    font-size: 1.2em;
    margin-bottom: 0.5em;
    color: #fff; /* Adjust color for better contrast on glass */
}

.voluncard__description {
    font-size: 0.8em;
    color: #fff; /* Adjust color for better contrast on glass */
}

.voluncard__carousel {
    width: 220px; 
    margin-left: 1em;
    margin-right: 2rem;
}

.voluncard__carousel-image {
    width: 100%;
    height: 10rem;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3); /* Optional: image border */
}

.voluncard__logos {
    display: flex;
    margin-bottom: 1em;
  }
  
  .voluncard__logo {
    width: 50px; /* Adjust the size of the logos */
    height: 50px;
    margin-right: 1em;
  }
  
  .voluncard__logo-image {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Maintain aspect ratio */
    border-radius: 50%; /* Optional: Makes logos circular */
  }
  
  .voluncard__title {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }