@media (max-width: 600px) {
    .contact .section__title{
        padding-left: 40%;
    }

    #contactForm {
        margin-left: 5%;
        padding: 1rem;
        width: 80%;
    }

    #contactForm span, .field, .submit{
        font-size: smaller;
    }
}