/* Base styles */
.cv {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    position: fixed;
    top: 3rem;
    right: 2rem;
    align-items: flex-end;
    z-index: 1000;
}

.cv a {
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    padding: 0.8rem 1.2rem;
    backdrop-filter: blur(10px);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    transition: background 0.3s, border-color 0.3s;
}

.cv a:hover {
    background: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.7);
}

/* For screens with max-width 920px */
@media screen and (max-width: 920px) {
    .cv {
        top: 0;
        right: 1rem; /* Adjust to keep links closer to the right */
        align-items: flex-end; /* Ensure links stay aligned to the right */
    }
}

@media screen and (max-width: 920px) {
    .cv a{
        display: flex;
        flex-direction: column;
    }
}