/*===========FOR RESPONSIVENESS (Medium DEVICES)==============*/

@media  screen and (max-width: 1024px) {
    /* .container {
        background-color: blue;
    } */
    header {
        
        height: 80vh;
        overflow: visible;
    }

    .fname h1{
        font-size: 20px;
        text-align: center;
    }
    
    .name__post {
        margin-top: -6.5rem;
        font-size: 2rem;
        text-align: left;
        margin-left: 7rem;
    }
    
    .name__description {
        text-align: left;
        margin-left: 7rem;
        font-size: 1rem;
        width: 30rem;
    }

    .cv {
        margin-top: 0.8rem;
        display: flex;
        gap: 1.2rem;
        justify-content: center;
        margin-left: -22.5rem;
    }
}



/* For phone screens */
@media screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh; /* Make sure container takes the full viewport height */
        text-align: center;
    }
    
    header {
        margin-top: -7rem;
        height: auto;
        width: 100%;
    }
    
    .me {
        width: 100%; /* Adjust width for better responsiveness */
        margin: 0;
        position: static; /* Remove the relative positioning for better centering */
        top: 0;
        z-index: -1;
        padding: 0rem;
        margin-top: -25%;
    }
    
    .fname {
        font-size: 8rem; 
        margin: 0;
        text-align: center;
        margin-left: 1rem;
        margin-top: -40%;
    }
    
    .name__post {
        font-size: 2rem;
        margin-top: -2rem; 
        text-align: center;
        margin-left: 1rem;
    }
    
    .name__description {
        font-size: 0.8rem; 
        width: 80%; 
        margin: 0 auto;
        margin-left: 2.5rem;
        text-align: center;
    }
    
    .cv {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        gap: 1rem; /* Increase gap between items */
        flex-direction: row;
        margin-left: 0;
    }
}

/* For phone screens */
@media screen and (max-width: 667px) {
    header {
        margin-top: 5rem;
        height: auto;
        width: 100%;
        margin-bottom: 0rem;
    }
    .header__container{
        margin-top: 10rem;
        margin-bottom: 0rem;
    }
    .me {
        width: 80%; /* Adjust width for better responsiveness */
        margin: 0;
        position: static; /* Remove the relative positioning for better centering */
        top: 0;
        z-index: -1;
        padding: 1rem;
    }
    .fname {
        font-size: 7rem; 
        margin: 0;
        text-align: center;
        margin-left: 1rem;
        
    }
    .scroll-down-button{
        display: none;
}
}

/* For phone screens */
@media screen and (max-width: 900px) {
    header {
        margin-top: -8rem;
        height: auto;
        width: 100%;
    }
}


/* For phone screens */
@media screen and (max-width: 740px) {
    header {
        margin-top: -4rem;
        height: auto;
        width: 100%;
        margin-bottom: 4rem;
    }

    .fname{
        font-size: 7rem;
    }
}

/* For phone screens */
@media screen and (max-width: 920px) {
    header {
        margin-top: -8rem;
        height: auto;
        width: 100%;
        margin-bottom: 0rem;
    }
    .me {
        width: 80%; /* Adjust width for better responsiveness */
        margin: 0;
        position: static; /* Remove the relative positioning for better centering */
        top: 0;
        z-index: -1;
        padding: 0rem;
        margin-top: -11rem;
    }
    .fname {
        font-size: 7rem; 
        margin: 0;
        text-align: center;
        margin-left: 1rem;
        
    }
    
    .creative {
        font-family: 'Lobster', sans-serif;
        font-size: 2rem;
        margin-top: 4rem;
    }
    
    .eng {
        margin-top: 4.5rem;
        font-family: sans-serif;
        font-size: 1.5rem;
    }
    
    .product{
        margin-top: 4.5rem;
        font-family: sans-serif;
        font-weight: 600;
        font-size: 1rem;
    }
    .scroll-down-button{
            display: none;
    }
}
