.timeline-block {
  width: -webkit-calc(50% - 8px);
  width: -moz-calc(50% - 8px);
  width: calc(50% - 8px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  clear: both;
  margin-left: -12rem;
  margin-right: 14rem;
}

.timeline-block-right {
  float: right;
}

.awards{
  margin-left: 5rem;
}

.timeline-block-left {
  float: left;
  direction: rtl
}

.marker {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #acacac;
  background: #9905a7;
  margin-top: 10px;
  z-index: 9999
}

.timeline-content {
  width: 95%;
  padding: 0 15px;
  color: #666
}

.timeline-content h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 22px;
  font-weight: 500;
  color: --color-white;
  width: 19.5rem;
  
}

.timeline-content span {
  font-size: 15px;
  color: #a4a4a4;
}

.timeline-content p {
  margin-top: 1rem;
  font-size: 12px;
  line-height: 1.5em;
  word-spacing: 1px;
  color: #888;
  width: 20rem;
}

.timestyle {
  overflow: scroll;
  left: 2rem;
}


.scrollsection {
  height: 25rem;       
  overflow-y: auto;   
}

 /*===========FOR RESPONSIVENESS (SMALL DEVICES)==============*/

 @media screen and (max-width: 700px) {
  .scrollsection{
    margin-left: 30rem;
    overflow-y:visible;
  }

  .timeline-content p{
    width: 10rem;
  }

  .timeline-content h3{
    width: 10rem;
  }
 }