@media screen and (max-width: 667px) {
    .blog{
        margin-left: -5rem;
        height: fit-content;
    }

    .section__title{
        text-align: center;
        margin-left: 3rem;
    }

    .blogcard{
        margin-left: 9rem;
        width: 14rem;
        height: 20rem;
        margin-top: 1.5rem;
    }

    .blogcard h1{
        font-size: 1.3rem;
    }

    .blogcard p{
        font-size: 0.7rem;
    }

    .blogcard a{
        margin-top: -1rem;
    }
}



@media screen and (max-width: 740px) {
    .blogcard{
        width: 16rem;
    }
}

@media screen and (max-width: 915px) {
    .blogcard{
        width: 16rem;
    }
}

@media screen and (max-width: 360px) {
    .blogcard{
        width: 16rem;
    }
}

@media screen and (max-width: 900px) {
    .blogcard{
        width: 18rem;
    }
}

