@media screen and (max-width: 600px) {
    .blog{
        height: max-content;
        padding-left: 20%;
    }

    .blogcard{
        height: min-content;
        margin-top: 1.5rem;
    }

    .blogcard h1{
        font-size: 1.3rem;
    }

    .blogcard p{
        font-size: 0.7rem;
    }

    .blogcard a{
        margin-top: -1rem;
    }
}



@media screen and (max-width: 740px) {
    .blogcard{
        width: 16rem;
    }
}

@media screen and (max-width: 915px) {
    .blogcard{
        width: 16rem;
    }
}

@media screen and (max-width: 380px) {
    .blogcard{
        width: 14rem;
    }
}

@media screen and (max-width: 900px) {
    .blogcard{
        width: 16rem;
    }
    .blog{
        margin-bottom: -1rem;
    }
}

