nav {
    background: rgba(0, 0, 0, 0.3); 
    width: max-content;
    display: block;
    padding: 0.7rem 0.7rem;
    z-index: 2;
    position: fixed;
    left: 4%;
    transform: translateX(-50%);
    bottom: 10rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a {
    background: transparent;
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
}

nav a:hover {
    background: rgba(0, 0, 0, 0.3);
}

nav a.active {
    background: var(--color-bg);
    color: var(--color-white);
}


/*===========FOR RESPONSIVENESS (Medium DEVICES)==============*/

@media  screen and (max-width: 1024px) {
    /* .container {
        background-color: blue;
    } */

    nav {
        background: rgba(0, 0, 0, 0.3); 
        width: max-content;
        display: block;
        padding: 0.5rem 0.5rem;
        z-index: 2;
        position: fixed;
        left: 7rem;
        transform: translateX(-50%);
        bottom: 20rem;
        display: flex;
        flex-direction: column;
        gap: 0.1rem;
        border-radius: 2rem;
        backdrop-filter: blur(15px);
    }
    
}

/*===========FOR RESPONSIVENESS (SMALL DEVICES)==============*/

@media screen and (max-width: 700px) {
    /* .container {
        background-color: green;
    } */

    nav {
        background: rgba(116, 116, 116, 0.54); 
        width: min-content;
        display: block;
        height: fit-content;
        margin-left: -4.5rem;
        top: 20%;
    }
}